a {
    color: #E57373;
}

[type="checkbox"]+span:not(.lever) {
    font-size: 2rem;
}


.task__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__name {
    color: rgba(0,0,0,0.87);
}

.task__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions > a, button {
    margin-left: 1rem;
}
